* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body {
    background-color: hsl(0, 0%, 94%);
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 50px;   
    padding-bottom: 50px;
}

.age-count hr {
    position: relative;
    right: 65px;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    width: 30vw; 
   
}

.line-color {
    color: hsl(259, 100%, 65%);
    font-weight: 900;
}

.card {
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    padding: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 50px; 
    width: 40rem; 
    
}

label {
    padding-left: 3px;
}

.input-container input {
    border: 1px solid #ccc;
    font-size: 25px;
    height: 50px;
    border-radius: 7px;
    width: 125px;
    font-weight: 900;
    padding-left: 20px;
}

.icon button {
    position: relative;
    top: 5.2rem;
    right: 1.4rem;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: hsl(259, 100%, 65%);
}

.icon button img {
    width: 60%; 
    height: 60%; 
}


#age {
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
    padding-left: 50px;
}

.age-count {
    line-height: 10px;
}

.error {
    border: 2px solid red;
}

.disabled {
    cursor: not-allowed;
    background-color: gray;
}

.form {
    display: flex;
    gap: 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    color: #ccc;
    font-weight: bold;
}

.output-text {
    font-weight: bold;
    line-height: 90px;
}

.output-number {
    color: hsl(259, 100%, 65%);
}

    @media screen and (max-width: 600px) {

        .container {
            width: 40rem;
            padding: 1rem 1rem 1rem 1rem;
        }

        .card {
            width: 35rem;
        }
    

        .form input {
            width: 125px;
            font-weight: 900;
            font-size: 1.3rem;
        }

        .input-container {
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 50px;
        }
     
        #age {
            font-weight: 900;
        }

        .form {
            gap: 30px;
        }

        .icon {
            position: relative;
            right: 17rem;
            margin-top: 0.3rem;
        }

        .icon img {
            margin: 0 auto;
            display: block;
        }

        hr {
            max-width: 600px; 
            margin-left:0;
        }

    }
    @media screen and (max-width: 900px) {

        .container {
            width: 40rem;
            padding: 3rem 0 0 5rem;
        }

        .card {
            width: 43rem;
        }

        .icon {
            padding-right: 5rem;
        }
        hr {
            max-width: 500px; 
            
            
        }
    }