* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    background-color: hsl(0, 0%, 94%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}

.card {
    border: 1px solid #ccc;
    background-color: hsl(0, 0%, 100%);
    padding: 0 20px;
    
}

input {
    font-size: 20px;
}

hr {
    margin-top: 30px;
}

#submit {
    border-radius: 50%;
    height: 55px;
    width: 60px;
    background-color: hsl(259, 100%, 65%);
}


#age {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 500;
    font: bold;
    text-align: center;
}


.error {
    border: 2px solid red;
}

.disabled {
    cursor: not-allowed;
    background-color: gray;
}